@page "/fetchdata"
@using MudBlazorAndDefaultBlazorApp.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<MudText Typo="Typo.h3">Weather forecast</MudText>

<br />
<MudText Typo="Typo.body1">This component demonstrates fetching data from the server.</MudText>
<br />

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTabs @bind-ActivePanelIndex="@activeTabIndex" Outlined>
        <MudTabPanel Text="Table" Icon="@Icons.Material.Filled.WbSunny" BadgeData='"New"' BadgeColor="Color.Info" ToolTip="Forecasts displayed in a table">
            <MudGrid>
                <MudItem xs="12" sm="4">
                    <MudTable Items="@forecasts" SortLabel="SortBy" Hover="true" Elevation="5">
                        <HeaderContent>
                            <MudTh><MudTableSortLabel SortBy="new Func<WeatherForecast, object>(x => x.Date)">Date</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<WeatherForecast, object>(x => x.TemperatureC)">Temp. (C)</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<WeatherForecast, object>(x => x.TemperatureF)">Temp. (F)</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<WeatherForecast, object>(x => x.Summary)">Summary</MudTableSortLabel></MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>@context.Date.ToShortDateString()</MudTd>
                            <MudTd>@context.TemperatureC</MudTd>
                            <MudTd>@context.TemperatureF</MudTd>
                            <MudTd>@context.Summary</MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </MudItem>
            </MudGrid>
        </MudTabPanel>

        <MudTabPanel Text="Chart" Icon="@Icons.Material.Outlined.Cloud" BadgeData="@TabChartBadgeText" BadgeColor="Color.Error" ToolTip="Forecasts displayed in a chart">
            <MudChart ChartType="ChartType.Line" ChartSeries="@Series" ChartOptions="@ChartOptions" LegendPosition="Position.Right" Width="570px" Height="570px" />
        </MudTabPanel>
    </MudTabs>
}

<br />

<MudGrid>
    <MudItem xs="12" sm="3">
        <MudDatePicker Label="Until Date" @bind-Date="UntilDate" PickerClosed="OnDatePickerClosed" PickerVariant="PickerVariant.Dialog" Orientation="Orientation.Portrait" Color="Color.Primary" OpenTo="OpenTo.Date" ReadOnly="false" />
    </MudItem>

    <MudItem xs="12" sm="4">
        <MudDateRangePicker Label="Forecast For a Range" @bind-DateRange="SelectedDateRange" PickerClosed="OnDateRangePickerClosed" />
    </MudItem>
</MudGrid>

@code {
    private WeatherForecast[]? forecasts;

    List<ChartSeries> Series = new();
    ChartOptions ChartOptions = new();

    int activeTabIndex;
    string TabChartBadgeText { get; set; } = string.Empty;

    DateTime? FromDate { get; set; } = DateTime.Now;
    DateTime? UntilDate { get; set; } = DateTime.Now.AddMonths(1);
    DateRange SelectedDateRange { get; set; } = new DateRange(DateTime.Now, DateTime.Now.AddMonths(1));

    private async Task ReadWeatherForecastFromServer()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>($"WeatherForecast?fromDate={FromDate}&untilDate={UntilDate}");
    }

    private async Task OnDatePickerClosed()
    {
        FromDate = DateTime.Now;
        // UntilDate is set by MudDatePicker.
        await ReadWeatherForecastFromServer();
    }

    private async Task OnDateRangePickerClosed()
    {
        FromDate = SelectedDateRange.Start;
        UntilDate = SelectedDateRange.End;
        await ReadWeatherForecastFromServer();
    }

    protected override async Task OnInitializedAsync()
    {
        await ReadWeatherForecastFromServer();

        Series.Add(new ChartSeries()
            {
                Name = "Temp. (C)",
                Data = forecasts?.Select<WeatherForecast, double>(x => x.TemperatureC).ToArray()
            });
        Series.Add(new ChartSeries()
            {
                Name = "Temp. (F)",
                Data = forecasts?.Select<WeatherForecast, double>(x => x.TemperatureF).ToArray()
            });

        ChartOptions.InterpolationOption = InterpolationOption.NaturalSpline;
        ChartOptions.DisableLegend = false;
        ChartOptions.ChartPalette = new string[] { MudBlazor.Colors.Green.Default, MudBlazor.Colors.Red.Default };

        TabChartBadgeText = forecasts?.Length.ToString() ?? "0";
    }
}
